.navbar-default {
  background-color: #0c64c7;
  border-color: #094f9d;
}
.navbar-default .navbar-brand {
  color: #eaecec;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #99999f;
}
.navbar-default .navbar-text {
  color: #eaecec;
}
.navbar-default .navbar-nav > li > a {
  color: #eaecec;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #99999f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #99999f;
  background-color: #094f9d;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #99999f;
  background-color: #094f9d;
}
.navbar-default .navbar-toggle {
  border-color: #094f9d;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #094f9d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eaecec;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eaecec;
}
.navbar-default .navbar-link {
  color: #eaecec;
}
.navbar-default .navbar-link:hover {
  color: #99999f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eaecec;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #99999f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #99999f;
    background-color: #094f9d;
  }
}